*{
    margin: 0;
}
body{
    a{
        text-decoration: none;
        color: unset;
    }
    font-family: sans-serif;
    color: white;
    .fixed-body{
        position: absolute;
        width: 100%;
        height: 40%;
        background-image: url("images/middle4.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        animation: bc-slide 20s infinite;
        top: 20%;
        header{
            position: fixed;
            width: 100%;
            padding: 2% 0;
            top: 0;
            color: white;
            display: grid;
            grid-template-columns: 20% 50% auto;
            gap:0 10px;
            font-size: 1.2vw;
            background-color: black;
            .logo{
                width: 20%;
                text-align: center;
                position: relative;
                left: 10px;
            }
            img{
                width: 100%;
            }
            .menu{
                text-transform: capitalize;
                word-spacing: 30px;
                text-align: center;
                span{
                    word-spacing: normal;
                    cursor: pointer;
                    background-color: purple;
                    padding: 20px 5px;
                    border-bottom: 1px solid white;
                    margin: 0;
                }
            }
            button{
                background-color: rgb(254, 65, 97);
                padding: 8px 13px;
                border: 0;
                color: white;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 1vw;
            }
            .btn{
                background-color: transparent;
                padding: 8px 13px;
                border: 1px solid rgb(254, 65, 97);
                color: white;
                font-weight: bold;
                text-transform: capitalize;
            }
            .appo{
                text-align: center;
            }
        }
        .abs-body{
            height: 100%;
            width: 100%;
            background-color: black;
            position: absolute;
            opacity: 70%;
        }
        .rel-body{
            height: max-content;
            width: 90%;
            top: 25%;
            position: relative;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0px;
            border: 1px solid white;
            font-size: 1vw;
            transition: .8s ease;
            .rel-body-lt{
                background-image: linear-gradient(to bottom right,black, purple, black,  );
                right: 50%;
                position: relative;
                transition: .8s ease;
                .rel-body-lt-wr{
                    width: 90%;
                    position: relative;
                    margin: 5% auto;
                    color: white;
                    .list{
                        display: grid;
                        grid-template-columns: 10% 90%;
                        margin: 5px 0;
                        font-weight: bold;
                        .li-ic{
                            text-align: center;
                            color: rgb(254, 65, 97);
                        }
                    }
                    .line{
                        background-color: rgb(254, 65, 97);
                        width: 10%;
                        height: 2px;
                    }
                    button{
                        background-color: rgb(254, 65, 97);
                        box-shadow: 2px 2px 5px black;
                        padding: 8px 30px;
                        border: 0;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                        color: white;
                    }
                }
            }
            .rel-body-rt{
                background-image: url("images/slimg1.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: slide 20s infinite;
                transition: .8s ease;
                position: relative;
                left: 50%;
                display: grid;
                grid-template-columns: 33% 33% 33%;
                gap: 2px;
                height: max-content;
                .rel-body-rt-box{
                    background-color: white;
                    img{
                        width: 100%;
                    }
                    .v-m{
                        background-color: purple;
                        padding:15px 5px;
                        width: 80%;
                        margin: auto;
                        position: relative;
                        top: -10px;
                        text-align: center;
                        color: white;
                        border-bottom-left-radius: 10px;
                        border-top-right-radius: 10px;
                        button{
                            width: 80%;
                            padding: 6px 0;
                            border: 0;
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    body{
        .fixed-body{
            position: absolute;
            width: 100%;
            height: 40%;
            background-image: url("images/middle4.jpg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            animation: bc-slide 20s infinite;
            top: 15%;
            header{
                position: fixed;
                width: 100%;
                padding: 2% 0;
                top: 0;
                color: white;
                display: grid;
                grid-template-columns: 80% 20%;
                gap: 10px;
                background-color: black;
                .logo{
                    width: 17%;
                    text-align: center;
                    position: relative;
                    left: 10px;
                }
                img{
                    width: 100%;
                }
                .m-menu{
                    text-align: center;
                    width: 35px;
                    margin: auto;
                    position: relative;
                    padding: 3px;
                    border: 1px solid white;
                    right: 10px;
                    background-color: purple;
                    cursor: pointer;
                    .ham{
                        background-color: white;
                        width: 100%;
                        height: 3px;
                        margin: 4px 0;
                    }
                }
                .menu{
                    text-transform: capitalize;
                    word-spacing: 30px;
                    text-align: center;
                    display: none;
                    span{
                        word-spacing: normal;
                        cursor: pointer;
                    }
                }
                button{
                    background-color: rgb(254, 65, 97);
                    padding: 8px 30px;
                    border: 0;
                    color: white;
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .btn{
                    background-color: transparent;
                    padding: 8px 30px;
                    border: 1px solid rgb(254, 65, 97);
                    color: white;
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .appo{
                    text-align: center;
                    display: none;
                }
            }
            .abs-body{
                height: 100%;
                width: 100%;
                background-color: black;
                position: absolute;
                opacity: 70%;
            }
            .rel-body{
                height: max-content;
                width: 90%;
                top: 20%;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 100%;
                gap: 0px;
                border: 1px solid white;
                font-size: 2.5vw;
                .rel-body-lt{
                    background-image: linear-gradient(to bottom right,black, purple, black,  );
                    right: 50%;
                    padding: 15px 0;
                    button{
                        font-size: 2vw;
                    }
                }
                .rel-body-rt{
                    background-image: url("images/slimg1.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    animation: slide 20s infinite;
                    padding: 0;
                    grid-template-columns: 49.3% 50%;
                }
            }
        }
    }
}





@keyframes slide {
    0%{background-image: url("images/slimg1.jpg");}
    20%{background-image: url("images/slimg1.jpg");}
    24%{background-image: url("images/slimg2.jpg");}
    40%{background-image: url("images/slimg2.jpg");}
    44%{background-image: url("images/slimg3.jpg");}
    60%{background-image: url("images/slimg3.jpg");}
    64%{background-image: url("images/slimg4.jpg");}
    80%{background-image: url("images/slimg4.jpg");}
    84%{background-image: url("images/slimg5.jpg");}
    100%{background-image: url("images/slimg5.jpg");}
}

@keyframes bc-slide {
    0%{background-image: url("images/middle4.jpg");}
    20%{background-image: url("images/middle4.jpg");}
    24%{background-image: url("images/middle4.jpg");}
    40%{background-image: url("images/slide2.jpg");}
    44%{background-image: url("images/slide2.jpg");}
    60%{background-image: url("images/slide3.png");}
    64%{background-image: url("images/slide3.png");}
    80%{background-image: url("images/slide4.jpg");}
    84%{background-image: url("images/slide4.jpg");}
    100%{background-image: url("images/slide4.jpg");}
}