$grey:rgb(246, 246, 246);
$white:white;
$black:black;
$darkblue:rgb(0, 0, 19);
$lightpurple:rgb(255, 120, 255);
$lightorange:rgb(240, 221, 186);


*{
    margin: 0;
}
body{
    background-color: $grey;
    .absolute{
        .header{
            background-color: $darkblue;
            width: 100%;
            color: $white;
            display: grid;
            grid-template-columns: 70% 28%;
            gap: 2%;
            text-align: center;
            position: fixed;
            top: 0;
            .search-bar{
                width: 90%;
                position: relative;
                margin: auto;
                padding: 10px 0;
                color: $white;
                .search{
                    width: 100%;
                    position: relative;
                    margin: auto;
                    text-align: center;
                    input{
                        width: 100%;
                        height: 20px;
                        padding: 4px 5px;
                        font-weight: bold;
                        font-family: sans-serif;
                        outline: 0;
                        border: 0;
                        border-radius: 3px;
                    }
                }
            }
        }
        //header end

        .heading{
            background-color: $lightorange;
            color: black;
            font-family: sans-serif;
            text-align: center;
            font-size: 1.3vw;
            padding: 5px 0;
        }
        @media screen and (max-width:800px) {
            .heading{
                font-size: 1.9vw;
            }
        }
        @media screen and (max-width:500px) {
            .heading{
                font-size: 2.8vw;
            }
        }
        //heading end

        .slider{
            width: 100%;
            height: 300px;
            background-color: $white;
            padding: 10px 0;
            overflow: hidden;
            .slides{
                width: 500%;
                height: 100%;
                display: inline-flex;
                transition: 1s ease;
                .slide{
                    width: 24%;
                    height: 100%;
                    margin: 0 .5%;
                    border-radius: 5px;
                    position: relative;
                    transition: 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .slider{
                height:200px;
            }
        }
        @media screen and (max-width:500px) {
            .slider{
                height: 150px;
            }
        }
        //slider end

        .clearance-sales{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 10px 0;
            .clearance{
                width: 90%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 23% 23% 23% 23%;
                gap:2%;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    .img{
                        width: 100%;
                        background-color: $lightpurple;
                        border-radius: 5px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                    .write{
                        width: 90%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px;
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}