$grey:rgb(242, 240, 240);
$white:white;
$black:rgb(0, 0, 19);
$darkblue:rgb(0, 0, 19);
$lightpurple:#c900fe;
$lightorange:rgb(240, 221, 186);
$orange:rgb(255, 166, 0);
$greyblack:rgb(65, 65, 65);


*{
    margin: 0;
}
body{
    background-color: $grey;
    color: $black;
    font-family: sans-serif;
    .absolute{
        .header{
            background-color: $darkblue;
            width: 100%;
            color: $white;
            display: grid;
            grid-template-columns: 70% 28%;
            gap: 2%;
            text-align: center;
            position: fixed;
            top: 0;
            .search-bar{
                width: 90%;
                position: relative;
                margin: auto;
                padding: 10px 0;
                color: $white;
                .search{
                    width: 100%;
                    position: relative;
                    margin: auto;
                    text-align: center;
                    input{
                        width: 100%;
                        height: 20px;
                        padding: 4px 5px;
                        font-weight: bold;
                        font-family: sans-serif;
                        outline: 0;
                        border: 0;
                        border-radius: 3px;
                    }
                }
            }
            .cart{
                top: 12px;
                position: relative;
                sup{
                    color: $orange;
                }
            }
        }
        //header end

        .heading{
            background-color: $lightorange;
            color: black;
            font-family: sans-serif;
            text-align: center;
            font-size: 1.3vw;
            padding: 10px 0;
        }
        @media screen and (max-width:800px) {
            .heading{
                font-size: 1.9vw;
            }
        }
        @media screen and (max-width:500px) {
            .heading{
                font-size: 2.8vw;
            }
        }
        //heading end

        .slider{
            width: 100%;
            height: max-content;
            background-color: $white;
            padding: 10px 0;
            overflow: hidden;
            .slides{
                width: 500%;
                height: 100%;
                display: inline-flex;
                transition: 1s ease;
                .slide{
                    width: 24%;
                    height: 100%;
                    margin: 0 .5%;
                    border-radius: 5px;
                    position: relative;
                    transition: 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .slider{
                height:200px;
            }
        }
        @media screen and (max-width:500px) {
            .slider{
                height: 150px;
            }
        }
        //slider end

        .clearance-sales{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 10px 0;
            .clearance{
                width: 90%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 23% 23% 23% 23%;
                gap:2%;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    .img{
                        width: 100%;
                        background-image: radial-gradient($white, $lightpurple);
                        border-radius: 5px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                    .write{
                        width: 90%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px;
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }

        .offers-slider{
            width: 100%;
            height: 300px;
            background-color: $white;
            padding: 10px 0;
            overflow: hidden;
            .slides{
                width: 200%;
                height: 100%;
                display: inline-flex;
                transition: 1s ease;
                .slide{
                    width: 48%;
                    height: 100%;
                    margin: 0 .5%;
                    border-radius: 5px;
                    position: relative;
                    transition: 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .offers-slider{
                height:200px;
            }
        }
        @media screen and (max-width:500px) {
            .offers-slider{
                height: 150px;
            }
        }
        //offers slider end

        .offers-sales{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 10px 0;
            font-family: sans-serif;
            .avail{
                width: 90%;
                position: relative;
                margin: auto;
                left: 5%;
                margin-bottom: 15px;
                color: $black;
                font-size: 2vw;
                display: inline-flex;
                justify-content: space-between;
                p{
                    color: $orange;
                }
            }
            .clearance{
                width: 95%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 48% 48%;
                gap:4%;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    .img{
                        width: 95%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        display: grid;
                        grid-template-columns: auto auto;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .span{
                            width: 70%;
                            padding:2px 5px;
                            color: $orange;
                            border-radius: 5px;
                            position: absolute;
                            text-align: right;
                            p{
                                width: max-content;
                                padding:5px 5px;
                                background-color: $lightorange;
                                color: $orange;
                                border-radius: 3px;
                                position: relative;
                                right: -100%;
                            }
                        }
                    }
                    .write{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px 0;
                        .p{
                            margin: 4px 0;
                            color: $black;
                            del{
                                color: $greyblack;
                            }
                        }
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }
        //offers sales end

        .bottom-fixed{
            height: 100px;
            background-color: $orange;
            width: 100%;
            bottom: 0;
        }
        //bottom fixed brk end

        .bottom-fixed-brk{
            height: 100px;
            background-color: $orange;
            width: 100%;
            position: fixed;
            bottom: 0;
        }
        //bottom fixed end
    }
}