* {
  margin: 0;
}

body {
  background-color: rgb(241, 237, 237);
  color: rgb(0, 0, 19);
  font-family: sans-serif;
}
body a {
  color: unset;
  text-decoration: none;
}
body .absolute {
  overflow-x: hidden;
}
body .absolute .orders-con {
  padding: 10px 0;
  width: 100%;
  width: 200%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  overflow-x: hidden;
  transition: 0.3s ease;
}
body .absolute .orders-con .orders-list {
  transition: 0.3s ease;
  width: 100%;
  background-color: transparent;
  position: relative;
}
body .absolute .orders-con .orders-list .list {
  background-color: white;
  width: 88%;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 78%;
  gap: 2%;
  position: relative;
  margin: 10px auto;
  border-radius: 5px;
}
body .absolute .orders-con .orders-list .list .img img {
  width: 100%;
}
body .absolute .orders-con .orders-list .list .write p {
  padding: 3px 0;
}
body .absolute .orders-con .orders-list .list .write .status {
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  body .absolute .orders-con .orders-list .list .write {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .orders-con .orders-list .list .write {
    font-size: 3vw;
  }
}
body .absolute header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  position: fixed;
  top: 0;
  border: 0;
}
body .absolute header .header {
  background-color: rgb(0, 0, 19);
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 70% 28%;
  gap: 2%;
}
body .absolute header .header .search-bar {
  width: 90%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  color: white;
}
body .absolute header .header .search-bar .search {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}
body .absolute header .header .search-bar .search input {
  width: 100%;
  height: 20px;
  padding: 4px 5px;
  font-weight: bold;
  font-family: sans-serif;
  outline: 0;
  border: 0;
  border-radius: 3px;
}
body .absolute header .header .cart {
  top: 12px;
  position: relative;
}
body .absolute header .header .cart sup {
  color: #fc0fc0;
}
body .absolute header .orders-head {
  background-color: white;
  color: rgb(0, 0, 19);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
  border: 0;
}
body .absolute header .orders-head div {
  padding: 15px 0;
  font-weight: bolder;
  color: rgb(62, 62, 62);
  cursor: pointer;
}
body .absolute header .orders-head .o-orders {
  border-bottom: 3px solid #c526ff;
  color: #c526ff;
}
@media screen and (max-width: 800px) {
  body .absolute header .orders-head {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute header .orders-head {
    font-size: 3vw;
  }
}
body .absolute .heading {
  background-color: #fbd2f1;
  color: black;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.3vw;
  padding: 10px 0;
}
@media screen and (max-width: 800px) {
  body .absolute .heading {
    font-size: 1.9vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .heading {
    font-size: 2.8vw;
  }
}
body .absolute .slider {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  padding: 10px 0;
  overflow: hidden;
}
body .absolute .slider .slides {
  width: 500%;
  height: 100%;
  display: inline-flex;
  transition: 1s ease;
}
body .absolute .slider .slides .slide {
  width: 24%;
  height: 100%;
  margin: 0 0.5%;
  border-radius: 5px;
  position: relative;
  transition: 1s ease;
}
body .absolute .slider .slides .slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  body .absolute .slider {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .slider {
    height: 150px;
  }
}
body .absolute .clearance-sales {
  width: 100%;
  background-color: white;
  padding: 15px 0;
  margin: 10px 0;
}
body .absolute .clearance-sales .clearance {
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 2%;
}
body .absolute .clearance-sales .clearance .sale {
  color: black;
  padding: 3px 5px;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
}
body .absolute .clearance-sales .clearance .sale .img {
  width: 100%;
  background-image: radial-gradient(white, #c526ff);
  border-radius: 5px;
}
body .absolute .clearance-sales .clearance .sale .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body .absolute .clearance-sales .clearance .sale .write {
  width: 90%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 8px;
}
@media screen and (max-width: 800px) {
  body .absolute .clearance-sales .clearance .sale {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .clearance-sales .clearance .sale {
    font-size: 3vw;
  }
}
body .absolute .offers-slider {
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 10px 0;
  overflow: hidden;
}
body .absolute .offers-slider .slides {
  width: 200%;
  height: 100%;
  display: inline-flex;
  transition: 1s ease;
}
body .absolute .offers-slider .slides .slide {
  width: 48%;
  height: 100%;
  margin: 0 0.5%;
  border-radius: 5px;
  position: relative;
  transition: 1s ease;
}
body .absolute .offers-slider .slides .slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  body .absolute .offers-slider {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .offers-slider {
    height: 150px;
  }
}
body .absolute .offers-sales {
  width: 100%;
  background-color: white;
  padding: 15px 0;
  margin: 10px 0;
  font-family: sans-serif;
}
body .absolute .offers-sales .avail {
  width: 90%;
  position: relative;
  margin: auto;
  left: 5%;
  margin-bottom: 15px;
  color: rgb(0, 0, 19);
  font-size: 2vw;
  display: inline-flex;
  justify-content: space-between;
}
body .absolute .offers-sales .avail p {
  color: #fc0fc0;
}
body .absolute .offers-sales .clearance {
  width: 95%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}
body .absolute .offers-sales .clearance .sale {
  color: black;
  padding: 3px 5px;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
}
body .absolute .offers-sales .clearance .sale .img {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}
body .absolute .offers-sales .clearance .sale .img img {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 800px) {
  body .absolute .offers-sales .clearance .sale .img img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .offers-sales .clearance .sale .img img {
    width: 100%;
    height: 150px;
  }
}
body .absolute .offers-sales .clearance .sale .img .span {
  width: 70%;
  padding: 2px 5px;
  color: #fc0fc0;
  border-radius: 5px;
  position: absolute;
  text-align: right;
}
body .absolute .offers-sales .clearance .sale .img .span p {
  width: -moz-max-content;
  width: max-content;
  padding: 5px 5px;
  background-color: #fbd2f1;
  color: #fc0fc0;
  border-radius: 3px;
  position: relative;
  right: -100%;
}
body .absolute .offers-sales .clearance .sale .write {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 8px 0;
}
body .absolute .offers-sales .clearance .sale .write .p {
  margin: 4px 0;
  color: rgb(0, 0, 19);
}
body .absolute .offers-sales .clearance .sale .write .p del {
  color: rgb(65, 65, 65);
}
@media screen and (max-width: 800px) {
  body .absolute .offers-sales .clearance .sale {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .offers-sales .clearance .sale {
    font-size: 3vw;
  }
}
body .absolute .flash-sales {
  padding: 10px 0;
  background-color: red;
  color: white;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
body .absolute .flash-sales .flash {
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: max-content auto auto;
  gap: 4px;
}
body .absolute .flash-sales-con {
  width: 100%;
  background-color: white;
  padding: 15px 0;
  margin: 0 0 10px 0;
  font-family: sans-serif;
  overflow-x: scroll;
}
body .absolute .flash-sales-con .clearance {
  width: 200%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  display: inline-flex;
}
body .absolute .flash-sales-con .clearance .sale {
  color: black;
  padding: 3px 5px;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
  width: 25%;
  margin: 0 2%;
}
body .absolute .flash-sales-con .clearance .sale .img {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}
body .absolute .flash-sales-con .clearance .sale .img img {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 800px) {
  body .absolute .flash-sales-con .clearance .sale .img img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .flash-sales-con .clearance .sale .img img {
    width: 100%;
    height: 150px;
  }
}
body .absolute .flash-sales-con .clearance .sale .img .span {
  width: 70%;
  padding: 2px 5px;
  color: #fc0fc0;
  border-radius: 5px;
  position: absolute;
  text-align: right;
}
body .absolute .flash-sales-con .clearance .sale .img .span p {
  width: -moz-max-content;
  width: max-content;
  padding: 5px 5px;
  background-color: #fbd2f1;
  color: #fc0fc0;
  border-radius: 3px;
  position: relative;
  right: -100%;
}
body .absolute .flash-sales-con .clearance .sale .write {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 8px 0;
}
body .absolute .flash-sales-con .clearance .sale .write .p {
  margin: 4px 0;
  color: rgb(0, 0, 19);
}
body .absolute .flash-sales-con .clearance .sale .write .p del {
  color: rgb(65, 65, 65);
}
body .absolute .flash-sales-con .clearance .sale .left p {
  padding: 0 0 2px 0;
  font-weight: lighter;
}
body .absolute .flash-sales-con .clearance .sale .left .progress {
  width: 100%;
  height: 12px;
  background-color: rgb(241, 237, 237);
  border-radius: 25px;
}
body .absolute .flash-sales-con .clearance .sale .left .progress .bar {
  width: 80%;
  height: 100%;
  background-color: #fc0fc0;
  border-radius: 25px;
}
@media screen and (max-width: 800px) {
  body .absolute .flash-sales-con .clearance .sale {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .flash-sales-con .clearance .sale {
    font-size: 3vw;
  }
}
body .absolute .recommended {
  width: 100%;
  background-color: transparent;
  padding: 0 0 15px 0;
  margin: 0 0 10px 0;
  font-family: sans-serif;
}
body .absolute .recommended .clearance {
  width: 95%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1% 4%;
}
body .absolute .recommended .clearance .sale {
  color: black;
  padding: 10px;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
}
body .absolute .recommended .clearance .sale .img {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}
body .absolute .recommended .clearance .sale .img img {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 800px) {
  body .absolute .recommended .clearance .sale .img img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .recommended .clearance .sale .img img {
    width: 100%;
    height: 150px;
  }
}
body .absolute .recommended .clearance .sale .img .span {
  width: 70%;
  padding: 2px 5px;
  color: #fc0fc0;
  border-radius: 5px;
  position: absolute;
  text-align: right;
}
body .absolute .recommended .clearance .sale .img .span p {
  width: -moz-max-content;
  width: max-content;
  padding: 5px 5px;
  background-color: #fbd2f1;
  color: #fc0fc0;
  border-radius: 3px;
  position: relative;
  right: -100%;
}
body .absolute .recommended .clearance .sale .write {
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 8px 0;
}
body .absolute .recommended .clearance .sale .write .p {
  margin: 4px 0;
  color: rgb(0, 0, 19);
}
body .absolute .recommended .clearance .sale .write .p del {
  color: rgb(65, 65, 65);
}
@media screen and (max-width: 800px) {
  body .absolute .recommended .clearance .sale {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .recommended .clearance .sale {
    font-size: 3vw;
  }
}
body .absolute .bottom-fixed-brk {
  height: 60px;
  background-color: transparent;
  width: 100%;
  bottom: 0;
}
body .absolute .bottom-fixed {
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px 0;
  text-align: center;
}
body .absolute .bottom-fixed .bottom-menu {
  background-color: transparent;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  gap: 1%;
  height: -moz-max-content;
  height: max-content;
}
body .absolute .bottom-fixed .bottom-menu .menu span {
  font-size: 1.5vw;
}
@media screen and (max-width: 800px) {
  body .absolute .bottom-fixed .bottom-menu .menu span {
    font-size: 3vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .bottom-fixed .bottom-menu .menu span {
    font-size: 4.5vw;
  }
}
body .absolute .bottom-fixed .bottom-menu .menu p {
  font-size: 1vw;
  padding: 2px 0;
}
@media screen and (max-width: 800px) {
  body .absolute .bottom-fixed .bottom-menu .menu p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .bottom-fixed .bottom-menu .menu p {
    font-size: 3.1vw;
  }
}
body .absolute .bottom-fixed .bottom-menu .active {
  color: #c526ff;
}
body .absolute .app-btn {
  width: 100%;
  background-color: transparent;
  margin: 10px 0;
  font-weight: bolder;
  text-align: center;
}
body .absolute .app-btn .btn-con {
  background-color: #c526ff;
  color: white;
  text-align: center;
  width: 80%;
  padding: 10px 5px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 20% auto;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  body .absolute .app-btn {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .app-btn {
    font-size: 3.7vw;
  }
}
body .absolute .acct-lists {
  width: 100%;
  background-color: transparent;
}
body .absolute .acct-lists .p {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 5px 0;
  text-transform: uppercase;
  color: rgb(87, 87, 87);
}
body .absolute .acct-lists .lists {
  width: 100%;
  background-color: white;
  margin: 10px 0;
  padding: 10px 0;
}
body .absolute .acct-lists .lists .list {
  width: 90%;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  text-align: left;
  padding: 13px 0;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  body .absolute .acct-lists {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  body .absolute .acct-lists {
    font-size: 3.7vw;
  }
}
body .category-con {
  background-color: transparent;
  width: 95%;
  margin: 50px 0;
}
body .category-con .right-left {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
}
body .category-con .right-left .left {
  background-color: transparent;
  text-align: center;
  position: fixed;
  height: 82%;
  width: 25%;
  overflow-y: scroll;
}
body .category-con .right-left .left .left-list {
  margin: auto;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
body .category-con .right-left .left .left-list .active {
  background-color: transparent;
  border-left: 4px solid #c526ff;
}
body .category-con .right-left .left .left-list .list {
  background-color: white;
  padding: 20px 0;
  text-transform: capitalize;
  margin: 1px 0 1px 0;
}
body .category-con .right-left .left .left-list .list p {
  width: 80%;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 800px) {
  body .category-con .right-left .left .left-list .list {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .category-con .right-left .left .left-list .list {
    font-size: 3vw;
  }
}
body .category-con .right-left .right {
  width: 70%;
  position: relative;
  left: 35%;
}
body .category-con .right-left .right .clearance-sales {
  width: 100%;
  background-color: white;
  padding: 15px 0 35px 0;
  margin: 10px 0;
  border-radius: 5px;
}
body .category-con .right-left .right .clearance-sales .avail {
  width: 90%;
  position: relative;
  margin: auto;
  left: 5%;
  margin-bottom: 15px;
  color: rgb(0, 0, 19);
  font-size: 2vw;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(241, 237, 237);
  padding: 8px 0;
}
body .category-con .right-left .right .clearance-sales .avail p {
  color: #fc0fc0;
}
body .category-con .right-left .right .clearance-sales .clearance {
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 31.5% 31.5% 31.5%;
  gap: 2%;
}
body .category-con .right-left .right .clearance-sales .clearance .sale {
  color: black;
  padding: 3px 5px;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
}
body .category-con .right-left .right .clearance-sales .clearance .sale .img {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
body .category-con .right-left .right .clearance-sales .clearance .sale .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body .category-con .right-left .right .clearance-sales .clearance .sale .write {
  width: 90%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 8px;
}
@media screen and (max-width: 800px) {
  body .category-con .right-left .right .clearance-sales .clearance .sale {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  body .category-con .right-left .right .clearance-sales .clearance .sale {
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */