$grey:rgb(241, 237, 237);
$white:white;
$black:rgb(0, 0, 19);
$darkblue:rgb(0, 0, 19);
$lightpurple:#c526ff;
$lightorange:#fbd2f1;
$orange:#fc0fc0;
$greyblack:rgb(65, 65, 65);


*{
    margin: 0;
}
body{
    background-color: $grey;
    color: $black;
    font-family: sans-serif;
    a{
        color: unset;
        text-decoration: none;
    }
    .absolute{
        overflow-x: hidden;
        //orders.html css
        .orders-con{
            padding: 10px 0;
            width: 100%;
            width: 200%;
            display: grid;
            grid-template-columns: 49% 49%;
            gap: 2%;
            overflow-x: hidden;
            transition: .3s ease;
            .orders-list{
                transition: .3s ease;
                width: 100%;
                background-color: transparent;
                position: relative;
                .list{
                    background-color: $white;
                    width: 88%;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 20% 78%;
                    gap: 2%;
                    position: relative;
                    margin: 10px auto;
                    border-radius: 5px;
                    .img{
                        img{
                            width: 100%;
                        }
                    }
                    .write{
                        p{
                            padding: 3px 0;
                        }
                        .status{
                            width: max-content;
                            padding: 5px;
                            color: $white;
                            border-radius: 5px;
                        }
                    }
                    @media screen and (max-width:800px) {
                        .write{
                            font-size: 2vw;
                        }
                    }
                    @media screen and (max-width:500px) {
                        .write{
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
        //orders.html css end
        header{
            width: 100%;
            height: max-content;
            text-align: center;
            position: fixed;
            top: 0;
            border: 0;
            .header{
                background-color: $darkblue;
                width: 100%;
                color: $white;
                display: grid;
                grid-template-columns: 70% 28%;
                gap: 2%;
                .search-bar{
                    width: 90%;
                    position: relative;
                    margin: auto;
                    padding: 10px 0;
                    color: $white;
                    .search{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        input{
                            width: 100%;
                            height: 20px;
                            padding: 4px 5px;
                            font-weight: bold;
                            font-family: sans-serif;
                            outline: 0;
                            border: 0;
                            border-radius: 3px;
                        }
                    }
                }
                .cart{
                    top: 12px;
                    position: relative;
                    sup{
                        color: $orange;
                    }
                }
            }
            //header end

            .orders-head{
                background-color: $white;
                color: $black;
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0;
                border: 0;
                div{
                    padding: 15px 0;
                    font-weight: bolder;
                    color: rgb(62, 62, 62);
                    cursor: pointer;
                }
                .o-orders{
                    border-bottom: 3px solid $lightpurple;
                    color: $lightpurple;
                }
            }
            @media screen and (max-width:800px) {
                .orders-head{
                    font-size: 2vw;
                }
            }
            @media screen and (max-width:500px) {
                .orders-head{
                    font-size: 3vw;
                }
            }
        }

        .heading{
            background-color: $lightorange;
            color: black;
            font-family: sans-serif;
            text-align: center;
            font-size: 1.3vw;
            padding: 10px 0;
        }
        @media screen and (max-width:800px) {
            .heading{
                font-size: 1.9vw;
            }
        }
        @media screen and (max-width:500px) {
            .heading{
                font-size: 2.8vw;
            }
        }
        //heading end

        .slider{
            width: 100%;
            height: max-content;
            background-color: $white;
            padding: 10px 0;
            overflow: hidden;
            .slides{
                width: 500%;
                height: 100%;
                display: inline-flex;
                transition: 1s ease;
                .slide{
                    width: 24%;
                    height: 100%;
                    margin: 0 .5%;
                    border-radius: 5px;
                    position: relative;
                    transition: 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .slider{
                height:200px;
            }
        }
        @media screen and (max-width:500px) {
            .slider{
                height: 150px;
            }
        }
        //slider end

        .clearance-sales{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 10px 0;
            .clearance{
                width: 90%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 23% 23% 23% 23%;
                gap:2%;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    .img{
                        width: 100%;
                        background-image: radial-gradient($white, $lightpurple);
                        border-radius: 5px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                    .write{
                        width: 90%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px;
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }

        .offers-slider{
            width: 100%;
            height: 300px;
            background-color: $white;
            padding: 10px 0;
            overflow: hidden;
            .slides{
                width: 200%;
                height: 100%;
                display: inline-flex;
                transition: 1s ease;
                .slide{
                    width: 48%;
                    height: 100%;
                    margin: 0 .5%;
                    border-radius: 5px;
                    position: relative;
                    transition: 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .offers-slider{
                height:200px;
            }
        }
        @media screen and (max-width:500px) {
            .offers-slider{
                height: 150px;
            }
        }
        //offers slider end

        .offers-sales{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 10px 0;
            font-family: sans-serif;
            .avail{
                width: 90%;
                position: relative;
                margin: auto;
                left: 5%;
                margin-bottom: 15px;
                color: $black;
                font-size: 2vw;
                display: inline-flex;
                justify-content: space-between;
                p{
                    color: $orange;
                }
            }
            .clearance{
                width: 95%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 48% 48%;
                gap:4%;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    .img{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        display: grid;
                        grid-template-columns: auto auto;
                        img{
                            width: 100%;
                            height: 300px;
                        }
                        @media screen and (max-width:800px) {
                            img{
                                width: 100%;
                                height: 200px;
                            }
                        }
                        @media screen and (max-width:500px) {
                            img{
                                width: 100%;
                                height: 150px;
                            }
                        }
                        .span{
                            width: 70%;
                            padding:2px 5px;
                            color: $orange;
                            border-radius: 5px;
                            position: absolute;
                            text-align: right;
                            p{
                                width: max-content;
                                padding:5px 5px;
                                background-color: $lightorange;
                                color: $orange;
                                border-radius: 3px;
                                position: relative;
                                right: -100%;
                            }
                        }
                    }
                    .write{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px 0;
                        .p{
                            margin: 4px 0;
                            color: $black;
                            del{
                                color: $greyblack;
                            }
                        }
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }
        //offers sales 

        .flash-sales{
            padding: 10px 0;
            background-color: red;
            color: $white;
            width: 100%;
            height: max-content;
            .flash{
                height: max-content;
                width: 90%;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: max-content auto auto;
                gap: 4px;
            }
        }
        //flash sales

        .flash-sales-con{
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            margin: 0 0 10px 0;
            font-family: sans-serif;
            overflow-x: scroll;
            .clearance{
                width: 200%;
                height: max-content;
                position: relative;
                margin: auto;
                display: inline-flex;
                .sale{
                    color: black;
                    padding:3px 5px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    width: 25%;
                    margin: 0 2%;
                    .img{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        display: grid;
                        grid-template-columns: auto auto;
                        img{
                            width: 100%;
                            height: 300px;
                        }
                        @media screen and (max-width:800px) {
                            img{
                                width: 100%;
                                height: 200px;
                            }
                        }
                        @media screen and (max-width:500px) {
                            img{
                                width: 100%;
                                height: 150px;
                            }
                        }
                        .span{
                            width: 70%;
                            padding:2px 5px;
                            color: $orange;
                            border-radius: 5px;
                            position: absolute;
                            text-align: right;
                            p{
                                width: max-content;
                                padding:5px 5px;
                                background-color: $lightorange;
                                color: $orange;
                                border-radius: 3px;
                                position: relative;
                                right: -100%;
                            }
                        }
                    }
                    .write{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px 0;
                        .p{
                            margin: 4px 0;
                            color: $black;
                            del{
                                color: $greyblack;
                            }
                        }
                    }
                    .left{
                        p{
                            padding: 0 0 2px 0;
                            font-weight: lighter;
                        }
                        .progress{
                            width: 100%;
                            height: 12px;
                            background-color: $grey;
                            border-radius: 25px;
                            .bar{
                                width: 80%;
                                height: 100%;
                                background-color: $orange;
                                border-radius: 25px;
                            }
                        }
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }
        //flash sales con 

        .recommended{
            width: 100%;
            background-color: transparent;
            padding: 0 0 15px 0;
            margin: 0 0 10px 0;
            font-family: sans-serif;
            .clearance{
                width: 95%;
                height: max-content;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 48% 48%;
                gap:1% 4%;
                .sale{
                    color: black;
                    padding:10px;
                    font-size: 1.3vw;
                    font-family: sans-serif;
                    font-weight: bold;
                    background-color: $white;
                    border-radius: 5px;
                    .img{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        display: grid;
                        grid-template-columns: auto auto;
                        img{
                            width: 100%;
                            height: 300px;
                        }
                        @media screen and (max-width:800px) {
                            img{
                                width: 100%;
                                height: 200px;
                            }
                        }
                        @media screen and (max-width:500px) {
                            img{
                                width: 100%;
                                height: 150px;
                            }
                        }
                        .span{
                            width: 70%;
                            padding:2px 5px;
                            color: $orange;
                            border-radius: 5px;
                            position: absolute;
                            text-align: right;
                            p{
                                width: max-content;
                                padding:5px 5px;
                                background-color: $lightorange;
                                color: $orange;
                                border-radius: 3px;
                                position: relative;
                                right: -100%;
                            }
                        }
                    }
                    .write{
                        width: 100%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        padding: 8px 0;
                        .p{
                            margin: 4px 0;
                            color: $black;
                            del{
                                color: $greyblack;
                            }
                        }
                    }
                }
                @media screen and (max-width:800px) {
                    .sale{
                        font-size: 2vw;
                    }
                }
                @media screen and (max-width:500px) {
                    .sale{
                        font-size: 3vw;
                    }
                }
            }
        }
        //recommeded 
        
        .bottom-fixed-brk{
            height: 60px;
            background-color: transparent;
            width: 100%;
            bottom: 0;
        }
        //bottom fixed brk end

        .bottom-fixed{
            height: max-content;
            background-color: $white;
            width: 100%;
            bottom: 0;
            position: fixed;
            padding: 10px 0;
            text-align: center;
            .bottom-menu{
                background-color: transparent;
                display: grid;
                grid-template-columns: 19% 19% 19% 19% 19%;
                gap: 1%;
                height: max-content;
                .menu{
                    span{
                        font-size: 1.5vw;
                    }
                    @media screen and (max-width:800px) {
                        span{
                            font-size: 3vw;
                        }
                    }
                    @media screen and (max-width:500px) {
                        span{
                            font-size: 4.5vw;
                        }
                    }
                    p{
                        font-size: 1vw;
                        padding: 2px 0;
                    }
                    @media screen and (max-width:800px) {
                        p{
                            font-size: 2.5vw;
                        }
                    }
                    @media screen and (max-width:500px) {
                        p{
                            font-size: 3.1vw;
                        }
                    }
                }
                .active{
                    color: $lightpurple;
                }
            }
        }
        //bottom fixed end

        .app-btn{
            width: 100%;
            background-color: transparent;
            margin: 10px 0;
            font-weight: bolder;
            text-align: center;
            .btn-con{
                background-color: $lightpurple;
                color: $white;
                text-align: center;
                width: 80%;
                padding: 10px 5px;
                position: relative;
                margin: auto;
                display: grid;
                grid-template-columns: 20% auto;
                border-radius: 5px;
            }
        }
        @media screen and (max-width:800px) {
            .app-btn{
                font-size: 2.5vw;
            }
        }
        @media screen and (max-width:500px) {
            .app-btn{
                font-size: 3.7vw;
            }
        }
        //app btn end

        .acct-lists{
            width: 100%;
            background-color: transparent;
            .p{
                width: 90%;
                margin: auto;
                position: relative;
                padding: 5px 0;
                text-transform: uppercase;
                color: rgb(87, 87, 87);
            }
            .lists{
                width: 100%;
                background-color: $white;
                margin: 10px 0;
                padding: 10px 0;
                .list{
                    width: 90%;
                    margin: auto;
                    position: relative;
                    display: grid;
                    grid-template-columns: 10% 80% 10%;
                    text-align: left;
                    padding: 13px 0;
                    text-transform: capitalize;
                }
            }
        }
        @media screen and (max-width:800px) {
            .acct-lists{
                font-size: 2.5vw;
            }
        }
        @media screen and (max-width:500px) {
            .acct-lists{
                font-size: 3.7vw;
            }
        }
        
    }


    //categories page
    .category-con{
        background-color: transparent;
        width: 95%;
        margin: 50px 0;
        .right-left{
            width: 100%;
            height: max-content;
            display: grid;
            grid-template-columns: auto auto;
            gap: 5%;
            .left{
                background-color: transparent;
                text-align: center;
                position: fixed;
                height: 82%;
                width: 25%;
                overflow-y: scroll;
                .left-list{
                    margin: auto;
                    position: relative;
                    height: max-content;
                    .active{
                        background-color: transparent;
                        border-left: 4px solid $lightpurple;
                    }
                    .list{
                        background-color: $white;
                        padding: 20px 0;
                        text-transform: capitalize;
                        margin: 1px 0 1px 0;
                        p{
                            width: 80%;
                            margin: auto;
                            position: relative;
                        }
                    }
                    @media screen and (max-width:800px) {
                        .list{
                            font-size: 2vw;
                        }
                    }
                    @media screen and (max-width:500px) {
                        .list{
                            font-size: 3vw;
                        }
                    }
                }
            }
            .right{
                width: 70%;
                position: relative;
                left: 35%;
                .clearance-sales{
                    width: 100%;
                    background-color: $white;
                    padding: 15px 0 35px 0;
                    margin: 10px 0;
                    border-radius: 5px;
                    .avail{
                        width: 90%;
                        position: relative;
                        margin: auto;
                        left: 5%;
                        margin-bottom: 15px;
                        color: $black;
                        font-size: 2vw;
                        display: inline-flex;
                        justify-content: space-between;
                        border-bottom: 1px solid $grey;
                        padding: 8px 0;
                        p{
                            color: $orange;
                        }
                    }
                    .clearance{
                        width: 90%;
                        height: max-content;
                        position: relative;
                        margin: auto;
                        display: grid;
                        grid-template-columns: 31.5% 31.5% 31.5%;
                        gap:2%;
                        .sale{
                            color: black;
                            padding:3px 5px;
                            font-size: 1.3vw;
                            font-family: sans-serif;
                            font-weight: bold;
                            .img{
                                width: 100%;
                                background-color: $white;
                                border-radius: 5px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 5px;
                                }
                            }
                            .write{
                                width: 90%;
                                position: relative;
                                margin: auto;
                                text-align: center;
                                padding: 8px;
                            }
                        }
                        @media screen and (max-width:800px) {
                            .sale{
                                font-size: 2vw;
                            }
                        }
                        @media screen and (max-width:500px) {
                            .sale{
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
    }
}