$pink:rgb(253, 229, 234);
$purple:rgb(253, 209, 248);
$blue: rgb(166, 202, 246);
$lightgreen:rgb(0, 255, 0);
$darkgreen:darkgreen;
$darkred:darkred;
$white:#ffffff;

*{
    margin: 0;
}
a{
    text-decoration: none;
    color: unset;
}
body{
    background-color: #ffffff;
    font-size: medium;
    .mobile_menu{
        display: none;
    }
    .body_cont{
        width: 100%;
        height: max-content;
    }
    .body_cont_cont{
        width: 100%;
        height: max-content;
        position: relative;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 63%;
        gap: 2%;
        .body_cont_cont_left{
            background-color: rgb(0, 0, 0);
            width: 100%;
            height: max-content;
            padding: 10px 5px;
            color: white;
            position: relative;
            .img_cont{
                width: 90%;
                height: max-content;
                position: relative;
                margin: auto;
                img{
                    width: 100%;
                }
            }
            .port_menu{
                width: 95%;
                position: relative;
                margin: auto;
                height: max-content;
                .port_menu_o{
                    display: grid;
                    grid-template-columns: 10% auto 10%;
                    margin: 30px 0;
                    cursor: pointer;
                }
            }
        }
        .body_cont_cont_right{
            background-color: white;
            width: 100%;
            height: max-content;
            padding: 10px 8px;
            .right_handler{
                display: none;
                .handler{
                    display: grid;
                    grid-template-columns: auto auto;
                    .logo{
                        width: 30%;
                        img{
                            width: 100%;
                        }
                    }
                    .ham{
                        height: max-content;
                        width: 40px;
                        padding: 5px;
                        background-color: $blue;
                        border-radius: 3px;
                        position: relative;
                        top: 6vw;
                        cursor: pointer;
                        .burger{
                            background-color: white;
                            margin: 4px 0;
                            padding: 2px 0;
                            border-radius: 5px;
                        }
                    }
                }
            }
            .dash_cont{
                width: 100%;
                height: max-content;
                .dash_cont_cont{
                    width: 95%;
                    position: relative;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 45% 45%;
                    gap: 2%;
                    .dash_img{
                        width: 100%;
                        height: max-content;
                        img{
                            width: 100%;
                        }
                    }
                    .dash_info{
                        width: 100%;
                        height: max-content;
                        .p{
                            width: 100%;
                            display: grid;
                            grid-template-columns: 40% auto;
                            gap: 5px;
                            margin: 10px 0;
                            b{
                                text-align:left;
                            }
                        }
                    }
                }
                .add_form{
                    padding: 10px;
                    background-color: $lightgreen;
                    color: $white;
                    text-align: center;
                    .a_d{
                        width: 70%;
                        position: relative;
                        margin: auto;
                        display: grid;
                        grid-template-columns: 40% 40%;
                        gap: 5%;
                        div{
                            width: 100%;
                            button{
                                width: 100%;
                                padding: 10px 0;
                                font-weight: bold;
                                border: 0;
                                color: $white;
                                cursor: pointer;
                            }
                            .rej{
                                background-color: $darkred;
                            }
                            .acc{
                                background-color: $darkgreen;
                            }
                        }
                    }
                }
                .reg_form_nftn{
                    padding: 20px 5px;
                    text-align: center;
                    width: 90%;
                    position: relative;
                    margin: auto;
                    background-color: $lightgreen;
                    .reg_list{
                        width: 70%;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        display: grid;
                        grid-template-columns: 40% 40%;
                        gap: 5%;
                        div{
                            padding: 30px 5px;
                            color: $white;
                            font-weight: bold;
                            margin-top: 5px;
                            cursor: pointer;
                        }
                        .reg{
                            background-color: $darkgreen;
                        }
                        .del{
                            background-color: $darkred;
                        }
                    }
                }
                .dash_sta{
                    width: 100%;
                    height: max-content;
                    .body_menu{
                        width: 90%;
                        height: max-content;
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        gap: 5px;
                        position: relative;
                        margin: auto;
                        text-align: center;
                        .body_menu_list{
                            width: 90%;
                            position: relative;
                            margin: auto;
                            padding: 10% 1%;
                            background-color: $blue;
                            cursor: pointer;
                        }
                    }
                    .balance{
                        padding: 10px 0;
                        box-shadow: 0px 0px 10px rgb(224, 223, 223);
                        border-radius: 10px;
                        .figure{
                            width: 80%;
                            position: relative;
                            margin: auto;
                            padding: 10px 0;
                            .bal{
                                display: none;
                            }
                            .demo_bal{
                                display: inline;
                            }
                            .fa-eye{
                                cursor: pointer;
                            }
                            .tran{
                                padding: 10px;
                                box-shadow: 0px 0px 10px rgb(224, 223, 223);
                                width: max-content;
                                margin: 15px 0;
                                position: relative;
                                color: purple;
                                cursor: pointer;
                            }
                        }
                    }
                    .notice_board{
                        width: 100%;
                        height: max-content;
                        .board{
                            width: 95%;
                            height: max-content;
                            position: relative;
                            margin: auto;
                            padding: 10px;
                            .notice{
                                padding: 10px 0;
                                background-color: white;
                                border-radius: 10px;
                                box-shadow: 0px 0px 10px rgb(209, 208, 208);
                                .top{
                                    padding: 10px;
                                    background-color: rgb(59, 59, 59);
                                    color: white;
                                }
                                .notice_con{
                                    padding: 10px;
                                    display: grid;
                                    grid-template-columns: 75% 20%;
                                    .left{
                                        width: 100%;
                                        padding: 10px 0;
                                    }
                                    .right{
                                        width: 100%;
                                        padding: 10px 7px;
                                        text-align: center;
                                        p{
                                            background-color: $pink;
                                            padding: 10px 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    table{
                        width: 100%;
                        border: 1px solid blue;
                        border-collapse: collapse;
                        text-align: center;
                        tr{
                            th{
                                padding: 10px 0;
                            }
                        }
                        tr:nth-child(even){
                            background-color: $pink;
                        }
                        tr:nth-child(odd){
                            background-color: $purple;
                        }
                    }
                }
            }
        }
    }
}










